{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main>
    <section class="bodega-content">
        <article >
            <h3 class="title-h3">Bienvenidos <br>a nuestra bodega</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellendus cum quasi blanditiis sint quae aliquam! Repudiandae, sunt expedita. Voluptates dolor ipsa consequuntur, debitis optio sunt fugiat necessitatibus incidunt nisi!
            </p>
        </article>
        <article>
            <table class="bodega-table">
                <tr>
                    <th>Superficie</th>
                    <th>Varietal</th>
                    <th>Producción anual</th>
                    <th>Enologo principal</th>
                    <th>Zona</th>
                </tr>
                <tr>
                    <td>500ha</td>
                    <td>Mabelc</td>
                    <td>700.000Lts</td>
                    <td>Carlos</td>
                    <td>Norte Mdz</td>
                </tr>
                
            </table>
        </article>
    </section>
    
</main>

{% endblock %}