{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<main>
    <section class="main-sect">
        <article class="header-index card">
                <div class="textos textos-izq"><h4>Descubre nuestra seleccion de vinos que cautivaran tus sentidos...</h4></div>
        </article>
        <!-- Animación en los Botones -->
        <article class="card2 card">
                <section class="card2-section s1">
                    <a href="#">Visita Guiada</a>
                </section>
                <section class="card2-section s2">
                    <a href="{% url 'bodega' %}">Bodega</a>
                </section>
                <section class="card2-section s3">
                    <a href="{% url 'varietales' %}">Varietales</a>
                </section>
                <section class="card2-section s4">
                    <a href="{% url 'contacto' %}">Contacto</a>
                </section>
        </article>
        
        <article class="card3 card">
            <div class="textos texto3 textos-der">
                <h4>Nuestros Viñedos</h4>
                <h2>Cultivados cuidadosamente</h2>
                <p>Seleccionamos con dedicación los mejores vinos y whiskies para deleitar tu paladar. Nuestra colección incluye desde vinos tintos ricos en sabores hasta vinos blancos refrescantes, así como una selección de whiskies de malta, bourbon y más. Cada botella es un testimonio de la artesanía y la atención al detalle que compartimos con nuestros clientes.</p>
            </div>
        </article>

        <article class="card4 card">
            <div class=" textos texto4 textos-izq">
                <h4>Experiencias Inolvidables</h4>
                <h2>Te invitamos a unirte a nosotros para una experiencia que trasciende lo ordinario.</h2>
                <p>Nuestras degustaciones guiadas y eventos especiales te sumergirán en el mundo intrigante de los vinos y whiskies. Explora la diversidad de aromas y sabores mientras aprendes sobre la historia y el proceso de producción que hay detrás de cada botella.</p>
                <a class="card4-botton" href="/pages/contacto.html"> Conocer+ </a>
            </div>
        </article>

        <article class="card5 card">
            <div class="textos texto5 textos-der">
                <h4>Vení a conocernos</h4>
                <h2>Si deseas explorar nuestra colección o reservar una degustación en nuestras instalaciones</h2>
                <p>No dudes en ponerte en contacto con nosotros. Tu viaje a través de los sabores de Tierra Wines & Whisky está a punto de comenzar. ¡Esperamos recibirte pronto!</p>
            </div>
        </article>
    </section>
</main>

{% endblock %}