{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<main>
    <section class="main-sect ">
        <article class="header-index card" style="background-image: url(static/core/assets/img/barricasRecorte.png); background-size: cover ">
                <!-- <img src="{% static 'core/assets/img/barricasRecorte.png' %}" alt=""> -->
                <div class="textos textos-izq"><h4>Descubre nuestra seleccion de vinos que cautivaran tus sentidos...</h4></div>
        </article>
        <!-- Animación en los Botones -->
        <article class="card2 card">
                <section class="card2-section s1" style="background-image: url(static/core/assets/img/barricas1.jpg); background-size: cover">
                    <a href="#">Visita Guiada</a>
                </section>
                <section class="card2-section s2" style="background-image: url(static/core/assets/img/campo-7.jpg); background-size: cover">
                    <a href="{% url 'bodega' %}">Bodega</a>
                </section>
                <section class="card2-section s3" style="background-image: url(static/core/assets/img/vinos-de-frente.jpg); background-size: cover">
                    <a href="{% url 'varietales' %}">Varietales</a>
                </section>
                <section class="card2-section s4" style="background-image: url(static/core/assets/img/copas.jpg); background-size: cover">
                    <a href="{% url 'contacto' %}">Contacto</a>
                </section>
        </article>
        
        <article class="card3 card" style="background-image: url(static/core/assets/img/uvaRecorte.png); background-size: cover">
            <div class="textos texto3 textos-der">
                <h4>Nuestros Viñedos</h4>
                <h2>Cultivados cuidadosamente</h2>
                <p>Seleccionamos con dedicación los mejores vinos y whiskies para deleitar tu paladar. Nuestra colección incluye desde vinos tintos ricos en sabores hasta vinos blancos refrescantes, así como una selección de whiskies de malta, bourbon y más. Cada botella es un testimonio de la artesanía y la atención al detalle que compartimos con nuestros clientes.</p>
            </div>
        </article>

        <article class="card4 card" style="background-image: url(static/core/assets/img/copaBn-01.png); background-size: cover">
            <div class=" textos texto4 textos-izq" >
                <h4>Experiencias Inolvidables</h4>
                <h2>Te invitamos a unirte a nosotros para una experiencia que trasciende lo ordinario.</h2>
                <p>Nuestras degustaciones guiadas y eventos especiales te sumergirán en el mundo intrigante de los vinos y whiskies. Explora la diversidad de aromas y sabores mientras aprendes sobre la historia y el proceso de producción que hay detrás de cada botella.</p>
                <a class="card4-botton" href="{% url 'contacto' %}"> Conocer+ </a>
            </div>
        </article>

        <article class="card5 card" style="background-image: url(static/core/assets/img/campoBodega.png); background-size: cover">
            <div class="textos texto5 textos-der">
                <h4>Vení a conocernos</h4>
                <h2>Si deseas explorar nuestra colección o reservar una degustación en nuestras instalaciones</h2>
                <p>No dudes en ponerte en contacto con nosotros. Tu viaje a través de los sabores de Tierra Wines & Whisky está a punto de comenzar. ¡Esperamos recibirte pronto!</p>
            </div>
        </article>

        <article class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1863334.8201447092!2d-69.86989236793569!3d-33.23306096982428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sBodegas%20los%20toneles!5e0!3m2!1ses-419!2sar!4v1698099392729!5m2!1ses-419!2sar" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
    </section>

</main>

{% endblock %}