{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main>
    <section class="varietales-content bodega-content" style="background-image: url(/static/core/assets/img/campo-2.jpg)" >
        <article >
            <h3 class="title-h3">Nuestros Varietales</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis repellendus cum quasi blanditiis sint quae aliquam! Repudiandae, sunt expedita. Voluptates dolor ipsa consequuntur, debitis optio sunt fugiat necessitatibus incidunt nisi!</p>
        </article>
    </section>
    <section class="varietales-content--2">
        <article>

        </article>
    </section>
</main>

{% endblock %}